*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(120,120,120);
}
a.active{
  color:rgb(255,59,0);
}
a:hover{
  color:rgb(250,40,0);
}
body{
  font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
  font-size:12px;
  background: rgb(237,237,237);
}
.headers{
  width:100%;
  background: rgb(242,242,242);
}
.header{
  border-bottom:1px solid rgb(230,230,230);
  height: 35px;
  margin:0 auto;
  width: 1190px;
}
.header ul li{
  float: left;
  margin:0 6px;
  padding-right:7px;
}
.header ul li a{
  display: inline-block;
  height:35px;
  line-height: 35px;
}
.login a:last-child{
  margin:0 6px;
}
.login{
  float:left;
}
.navbar{
  float:right;
}
.heads{
  width:100%;
  background: #fff;
}
.content{
  width: 1190px;
  margin:0 auto;
  position:relative;
}
.search{
  padding-top:30px;
  margin:0 0 0 265px;
  height: 129px;
  width:626px;
}
  .search img{
  width:626px;
}
@media screen and (max-width:1190px ){
  .content{
    width: 990px;
  }
  .search{
    margin:0 0 0 198px;
  }
  .disp{
    display: none;
  }
}
.taobao{
  padding-top:30px;
  margin:10px 12px 0;
  float:left;
}
.taobao img{
  width:142px;
}
.cell{
  position: absolute;
  top:30px;
  right: 0;
}
.cell img{
  width:114px;
}
.btn-nav{
  height:34px;
}
.zhuti{
  width:190px;
  height:34px;
  background: rgb(255,76,34);
  color:#fff;
  line-height: 34px;
  padding-left: 10px;
  font-weight:300;
  float:left;
}
.btn-ul ul,.btn-ul{
  float:left;
}
.btn-ul li{
  float:left;
  margin:3px 0;
}
.btn-ul li a:hover{
  color:#fff;
  background: rgb(255,76,34);
}
.btn-ul ul li a {
  height:28px;
  line-height: 28px;
  font-size:14px;
  font-weight: bold;
  display: inline-block;
  margin:0 5px;
  padding:0 5px;
  border-radius: 14px;
}
.foot-1{
  display: block;
  width:890px;
}
.foot-2{
  display: none;
  width:690px;
}
@media screen and (max-width:1190px ){
  .foot-1{
    display: none;
  }
  .foot-2{
    display: block;
  }
}
.flex-2{
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  flex-direction: column;
  padding:10px 0 0 10px;
}
.flex{
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
}
.navbars{
  width:190px;
  height:522px;
}
.sidebar{
  width:290px;
}
.flex-1{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}
.flex-1-1-2{
  margin:10px;
}
.flex-1-1-2-2{
  margin-top: 8px;
}
.flex-1-1{
  display: flex;
  justify-content:space-between;
}
.flex-1-1-2,.flex-1-1-3{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin:10px 0 10px 10px;
}
.flex-1-1-2 img{
  width:520px;
}
.flex-1-1-3 img{
  width: 160px;
}
@media screen and (max-width:1190px ){

  .flex-1-1-2-1 img{
    width:492px;
    height:280px;
  }
  .flex-1-1-2-2 img{
    width:492px;
    height:220px;
  }

.flex-1-1-3{
  display: none;
}
}


















