.navbar-brand>img{
    width: 72px;
  }
.navbar-default .navbar-nav>li>a:hover{
  color: #ed0000;
}
  .navbar-toggle,.navbar-default .navbar-toggle{
    border:1px solid transparent;
  }  
  .navbar-toggle:hover,.navbar-default .navbar-toggle:hover{
    background: transparent;
  }
.nav-subitem{
  list-style: none;
}
.nav-item-text{
  color:#777;
  text-decoration: none;
}.nav-item-text:hover{
  color:#333;
  text-decoration: none;
}
.nav>li:first-child a{
  color: #ed0000;
}
.navbar-default .navbar-nav .dropdown>a{
  text-align: center;
  width:116px;
}
.nav .open>a,
.navbar-default .navbar-nav .dropdown.open>a,
 .nav .open>a:focus,
  .nav .open>a:hover,
  .navbar,
  .navbar-default .navbar-nav a{
  background: #fff;
}
.navbar-header{
  width:100%;
}


.dropdown-menu{
  border:1px solid #eee;
  padding:0;
  min-width: 116px;
  width: 116px  !important;
}
.dropdown-menu>li>a{
    text-align: left;
    display: block;
    color: #666666;
    line-height: 34px;
    font-size: 14px;
    padding-left: 16px;
    border-bottom:1px solid #fff;
}
@media screen and (min-width: 768px){
  .navbar-default .navbar-nav .dropdown.open>a{
  border-left:1px solid #e7e7e7;
  border-right:1px solid #e7e7e7;
  }
  .navbar-nav>li>.dropdown-menu{
    border-top: 1px solid #fff;

  }
}
@media screen and (max-width: 768px){
  .open>.dropdown-menu{
    display: block !important;
  }
  #side_nav{
    position: fixed;
    z-index:10000;
    width:70%;
    text-align: center;
    right:0;
  }
  .navbar-default .navbar-nav .dropdown>a{
    width:100%;
  }

}
#tog_nav{

}
.navbar-toggle {
    padding: 9px 0;
    margin-right:0;
}
.container{
  max-width: 1100px;
  padding:0;
}
.navbar{
  z-index: 100;
}
.cover_over{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,.3);
  z-index:200;
}
/*body,div,p,b,s,a,em,header,footer,ul,ol,li,dt,dd,dl{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
ul{
  list-style: none;
}
img{
  vertical-align: bottom;
}
a{
  color:rgb(30,30,30);
  text-decoration:none;
  font-size:14px;
}
a:hover,a.active{
  color: rgb(235,0,0);
}
body{
  background:#fff;
  font-family:Helvetica, "Pingfang SC", "Microsoft YaHei", STHeiti, Verdana, Arial, Tahoma, sans-serif;
}
.float_r{
  float:right;
}
.float_l{
  float:left;
}
.ufo{
  overflow:hidden;
}
header{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  height:48px;
  border-bottom:1px solid #eee;
}
nav{
  background: #fff;
  padding:14px 15px;
  height:48px;
}
.yz_logo{
  height: 27px;
}

.yz_logo img{
  height:27px;
  width:78px;
}

nav span{
  position: absolute;
  right: 10px;
  top:10px;
  margin-right:15px;
  width:24px;
  height:3px;
  box-shadow: 0px 4px 0px #fff, 0px 8px 0px #666, 0px 12px 0px #fff, 0px 16px 0px #666, 0px 20px 0px #fff, 0px 24px 0px #666;
  -webkit-box-shadow: 0px 4px 0px #fff, 0px 8px 0px #666, 0px 12px 0px #fff, 0px 16px 0px #666, 0px 20px 0px #fff, 0px 24px 0px #666;
  -ms-box-shadow: 0px 4px 0px #fff, 0px 8px 0px #666, 0px 12px 0px #fff, 0px 16px 0px #666, 0px 20px 0px #fff, 0px 24px 0px #666;
  -o-box-shadow: 0px 4px 0px #fff, 0px 8px 0px #666, 0px 12px 0px #fff, 0px 16px 0px #666, 0px 20px 0px #fff, 0px 24px 0px #666;
}*/
























